
<!DOCTYPE html>
<html>
<head>
<style>
.container {
  position: relative;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

img { 
  width: 100%;
  height: auto;
  opacity: 0.3;
}
form {
    display: inline;
}
</style>
</head>
<body>
<div class="topright">
<form action = '/spaces/availability' method = 'get'>
<input type = 'submit' value = 'Create Availability'>
</form>
<% if @user %>
<form action = '/sessions/destroy' method = 'post'>
<input type = 'submit' value = 'Sign Out'>
</form>
<% else %>
<form action='/users/new'>
  <input type='submit' value='Sign Up'/>
</form>
<form action='/sessions/new'>
  <input type='submit' value='Sign in'/>
</form>
<% end %>
</div>
</body>
</html>


<% if @user %>
Welcome <%= @user.email %>! 
<br>
<form action = '/spaces/new' method = 'post'
  <label for name> Name: </label>
  <input type='text' id = name name = 'name'/>
  <br>
  <label for price> Price: </label>
  <input type='number' id = price name = 'price'/>
  <br>
  <label for description> Description: </label>
  <input type='text' id = description name = 'description'/>
  <br>
  <input type='submit' name = 'New Listing'>
  </form>
  <br>
  Your spaces:
  <br>
  <% @spaces.each do |space| %>
    <%= space.name %>
    <br>
    Price: £<%= space.price %>
    <br>
    Description: <%= space.description %>
    <br>
    <form action='/spaces/<%= space.id %>' method="get" >
    <input type="submit" value="View">
    <br>
    </form>
  <% end %>
  <br>
<% end %>

All spaces:
<br>
<% @all_spaces.each do |space| %>
  <%= space.name %>
  <br>
  Price: £<%= space.price %>
  <br>
  Description: <%= space.description %>
  <br>
  <form action='/spaces/<%= space.id %>' method="get" >
  <input type="submit" value="View">
  <br>
  </form>
<% end %>


