<%= @space[0]['name'] %>
<br>
<%= flash[:notice] %>

<%if @user %>
  <% if @user.id == @space[0]['user_id'] %>
    <form action = "/spaces/availability/<%= @space[0]['id'] %>" method ='post' >
      <input list = "availabilities" id = "availability" name = "availability"/>
      <datalist id ="availabilities">
        <% @availability.each do |availability| %>
        <option value = "<%= availability['date'] %>"> </option>
        <% end %>
      </datalist>
      <input type = "submit" value = "Remove">
    </form>
<% else %>
  <form>
  <input list = "availabilities" id = "availability" name = "availability"/>
  <datalist id ="availabilities">
  <% @availability.each do |availability| %>
    <option value = "<%= availability['date'] %>"> </option>
  <% end %>
  </datalist>
  <input type = "submit" value = "Request">
  </form>
  <% end %>
<% else %> 
  <input list = "availabilities" id = "availability" name = "availability"/>
    <datalist id ="availabilities">
    <% @availability.each do |availability| %>
      <option value = "<%= availability['date'] %>"> </option>
    <% end %>
    </datalist>
  </form>
<% end %>
